<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sucesso!</title>
  <link rel="stylesheet" href="success.css">
</head>

<body>
  <div class="container">
    <h1>Obrigado por confirmar sua presença!</h1>
    <div>
        <a href="/nomeConfirmados">Ver nomes confirmados </a>
        <a href="/">Voltar para a Home</a>
    </div>
  </div>
</body>

</html>